.animateHeart {
    -webkit-animation-name: move-part-1;
            animation-name: move-part-1;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

.display {
    /* Not display due to animation rules */
    visibility: visible !important;
}

#diamondBearCard, #evilQueenCard, #jesterBearCard, #clubKingCard{
    visibility: hidden;
    -webkit-animation-duration: 1s;
        animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    position: relative;
}

#diamondBearCard {
    width: 275px;
}

.animateDiamondBearCard {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
    -webkit-animation-name: swivel-left-diamond-bear-card;
            animation-name: swivel-left-diamond-bear-card;
}

#evilQueenCard {
    width: 250px;
}

.animateEvilQueenCard {
	-webkit-animation-name: swivel-left-evil-queen-card;
	        animation-name: swivel-left-evil-queen-card;
}

#jesterBearCard {
	width: 200px;
}

.animateJesterBearCard {
    -webkit-animation-name: swivel-left-jester-bear-card;
            animation-name: swivel-left-jester-bear-card;
}

#clubKingCard {
    width: 300px;
}

.animateClubKingCard {
    -webkit-animation-name: swivel-left-club-king-card;
            animation-name: swivel-left-club-king-card;
}

@-webkit-keyframes enter-from-right {
    from {
        -webkit-transform: translate(700px, 40px);
    }
    to {
        -webkit-transform: translate(0, 0);
    }
}

@keyframes enter-from-right {
    from {
        transform: translate(700px, 40px);
    }
    to {
        transform: translate(0, 0);
    }
}

@-webkit-keyframes swivel-left-diamond-bear-card {
    from {
        -webkit-transform: translate(500px, -500px) rotate(-90deg);
    }
    to {
        -webkit-transform: translate(-150px, 0px) rotate(-30deg);
    }
}

@keyframes swivel-left-diamond-bear-card {
    from {
        transform: translate(500px, -500px) rotate(-90deg);
    }
    to {
        transform: translate(-150px, 0) rotate(-30deg);
    }
}

@-webkit-keyframes swivel-left-evil-queen-card {
    from {
        -webkit-transform: translate(500px, 100px) rotate(0deg);
    }
    to {
        -webkit-transform: translate(100px, 20px) rotate(20deg);
    }
}

@keyframes swivel-left-evil-queen-card {
    from {
        transform: translate(500px, 100px) rotate(0deg);
    }
    to {
        transform: translate(100px, 20px) rotate(20deg);
    }
}

@-webkit-keyframes swivel-left-jester-bear-card {
    from {
        -webkit-transform: translate(300px, -400px) rotate(-70deg);
    }
    to {
        -webkit-transform: translate(-100px, 450px) rotate(-10deg);
    }
}

@keyframes swivel-left-jester-bear-card {
    from {
        transform: translate(300px, -400px) rotate(-70deg);
    }
    to {
        transform: translate(-100px, 450px) rotate(-10deg);
    }
}

@-webkit-keyframes swivel-left-club-king-card {
    from {
        -webkit-transform: translate(500px, 500px) rotate(0deg);
    }
    to {
        -webkit-transform: translate(100px, 600px) rotate(35deg);
    }
}

@keyframes swivel-left-club-king-card {
    from {
        transform: translate(500px, 500px) rotate(0deg);
    }
    to {
        transform: translate(100px, 600px) rotate(35deg);
    }
}

@-webkit-keyframes move-part-1 {
    from {
        -webkit-transform: rotate(-30deg);
        y: 810px;
        x: -275px;
    }
    to {
        -webkit-transform: rotate(180deg);
        y: -1500px;
        x: -1500px;
        width: 2500px;
    }
}

@keyframes move-part-1 {
    from {
        transform: rotate(-30deg);
        y: 810px;
        x: -275px;
    }
    to {
        transform: rotate(180deg);
        y: -1500px;
        x: -1500px;
        width: 2500px;
    }
}
