.animateHeart {
    -webkit-animation-name: move-part-1;
            animation-name: move-part-1;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

.display {
    visibility: visible !important;
}

#diamondBearCard, #evilQueenCard, #jesterBearCard, #clubKingCard{
    visibility: hidden;
}

.animateDiamondBearCard {
	width: 275px;
    -webkit-transform: rotate(-30deg);
        -ms-transform: rotate(-30deg);
            transform: rotate(-30deg);
    -webkit-animation-name: swivel-left-diamond-bear-card;
            animation-name: swivel-left-diamond-bear-card;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    position: relative;
}

.animateEvilQueenCard {
    width: 250px;
	-webkit-animation-name: swivel-left-evil-queen-card;
	        animation-name: swivel-left-evil-queen-card;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    position: relative;
}

.animateJesterBearCard {
	width: 200px;
    -webkit-animation-name: swivel-left-jester-bear-card;
            animation-name: swivel-left-jester-bear-card;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    position: relative;
}

.animateClubKingCard {
    width: 300px;
    -webkit-animation-name: swivel-left-club-king-card;
            animation-name: swivel-left-club-king-card;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    position: relative;
    left: 100px;
}

@-webkit-keyframes enter-from-right {
    from {
        -webkit-transform: translate(700px, 40px);
                transform: translate(700px, 40px);
    }
    to {
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
    }
}

@keyframes enter-from-right {
    from {
        -webkit-transform: translate(700px, 40px);
                transform: translate(700px, 40px);
    }
    to {
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
    }
}

@-webkit-keyframes swivel-left-diamond-bear-card {
    from {
        -webkit-transform: rotate(-90deg);
                transform: rotate(-90deg);
        left: 500px;
        top: -500px;
    }
    to {
        -webkit-transform: rotate(-30deg);
                transform: rotate(-30deg);
        left: -150px;
        top: 0px;
    }
}

@keyframes swivel-left-diamond-bear-card {
    from {
        -webkit-transform: rotate(-90deg);
                transform: rotate(-90deg);
        left: 500px;
        top: -500px;
    }
    to {
        -webkit-transform: rotate(-30deg);
                transform: rotate(-30deg);
        left: -150px;
        top: 0px;
    }
}

@-webkit-keyframes swivel-left-evil-queen-card {
    from {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
        left: 500px;
        top: 100px;
    }
    to {
        -webkit-transform: rotate(20deg);
                transform: rotate(20deg);
        left: 0px;
		top: 150px;
    }
}

@keyframes swivel-left-evil-queen-card {
    from {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
        left: 500px;
        top: 100px;
    }
    to {
        -webkit-transform: rotate(20deg);
                transform: rotate(20deg);
        left: 0px;
		top: 150px;
    }
}

@-webkit-keyframes swivel-left-jester-bear-card {
    from {
        -webkit-transform: rotate(-70deg);
                transform: rotate(-70deg);
        left: 300px;
        top: -400px;
    }
    to {
        -webkit-transform: rotate(-10deg);
                transform: rotate(-10deg);
        left: -100px;
        top: 250px;
    }
}

@keyframes swivel-left-jester-bear-card {
    from {
        -webkit-transform: rotate(-70deg);
                transform: rotate(-70deg);
        left: 300px;
        top: -400px;
    }
    to {
        -webkit-transform: rotate(-10deg);
                transform: rotate(-10deg);
        left: -100px;
        top: 250px;
    }
}

@-webkit-keyframes swivel-left-club-king-card {
    from {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
        left: 500px;
        top: 500px;
    }
    to {
        -webkit-transform: rotate(35deg);
                transform: rotate(35deg);
        left: 100px;
        top: 100px;
    }
}

@keyframes swivel-left-club-king-card {
    from {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
        left: 500px;
        top: 500px;
    }
    to {
        -webkit-transform: rotate(35deg);
                transform: rotate(35deg);
        left: 100px;
        top: 100px;
    }
}

@-webkit-keyframes move-part-1 {
    from {
        -webkit-transform: rotate(-30deg);
                transform: rotate(-30deg);
        y: 810px;
        x: -275px;
    }
    to {
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
        y: -1500px;
        x: -1500px;
        width: 2500px;
    }
}

@keyframes move-part-1 {
    from {
        -webkit-transform: rotate(-30deg);
                transform: rotate(-30deg);
        y: 810px;
        x: -275px;
    }
    to {
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
        y: -1500px;
        x: -1500px;
        width: 2500px;
    }
}
