body {
	margin: 0;
	--primary-color: #205181;
	--primary-dark: #0F2942;
	--inverted-color: #FFFFFF;
	--sky-blue: #92E4E1;
	--dark-blue: #0F2942;
	--faq-blue: #CFECF9;
	--grassy: #A9E293;
	color: var(--primary-color);
	font-family: 'Source Serif Pro', serif;
	font-size: 24px;
	line-height: 33px;
	max-width: 100%;
	overflow-x: hidden;
}

button {
	font-family: 'Source Serif Pro', serif;
	font-size: 24px;
	line-height: 33px;
	border: none;
}

h1 {
	font-family: 'Milonga', Cursive;
	font-size: 160px;
	line-height: 200px;
	font-weight: normal;
	margin: 0;
}

h2{
	font-family: 'Milonga', serif;
	font-size: 120px;
	font-weight: normal;
	font-style: normal;
	line-height: 150px;
	margin: 0;
}

h3 {
	font-family: 'Milonga', serif;
	font-size: 64px;
	line-height: 80px;
	font-weight: normal;
	font-style: normal;
	margin: 0;
}

h4 {
	font-size: 32px;
	line-height: 40px;
	font-weight: 400;
	font-family: 'Milonga', serif;
	font-style: normal;
	margin: 0;
}

h5 { /* Basically just bold */
	font-size: 26px;
	line-height: 36px;
	font-weight: 700;
	font-style: normal;
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
	font-size: 1em;
	line-height: 1.375em;
	font-weight: 400;
	font-style: normal;
}

a {
	text-decoration: none;
}

section {
	display: flex;
	flex-direction: column;
	width: 100%;
}

hr {
  display: block;
  border: none;
  margin: 1em 0 2em;
  height: 1px;
  background-color: var(--primary-color);
}

/* UTILITY */
.inverted-text {
	color: var(--inverted-color);
}

.inverted-text hr {
	background-color: var(--inverted-color);
}

.section-title {
	font-style: normal;
	font-weight: normal;
}

.section-content {
	max-width: 90vw;
	margin: auto;
}

.mobile {
	display: none;
}
/* NAVIGATION */
#navbar {
	z-index: 1000;
	height: 75px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(255, 255, 255, .85);
	box-shadow: 0px 5px .3em;
  	position: fixed;
  	margin-bottom: -75px;
	top: 0;
	-webkit-transition: top .7s;
	transition: top .7s;
	transition-timing-function: ease-in-out;
}


#nav-logo-container {
	margin-left: 5vw;
	margin-right: 75px;
	transition: transform .3s;
}

.nav-logo {
	height: 38px;
}

.grow-anim {
	transition: transform .3s;
}

.grow-anim:hover {
	transform: scale(1.05);
}

#nav-links {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex: 1 1 auto;
	max-width: 55vw; /* TODO: Adjust this per final layout */
}

.nav-link {
	color: var(--primary-color);
	font-family: 'Roboto Mono', monospace;
	font-size: 24px;
	line-height: 28px;
	cursor: pointer;
}

.under-anim {
	position: relative;
}

.under-anim::after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: var(--primary-color);
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.under-anim:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

#navbar a {
	font-family: 'Roboto Mono', monospace;
	font-size: 24px;
	line-height: 28px;
	text-decoration: none;
	margin-right: 50px;
}

#mlh-trust-badge {
	display: block;
	position: relative;
	top: 25px;
	width: 70px;
	z-index: 10000;
}

#mlh-trust-badge img {
	width: 100%;
}

.nav-register {
	margin-left: auto;
}

.nav-register-info {
	font-family: 'Roboto Mono', monospace;
	font-size: 18px;
	font-weight: 400;
	font-style: normal;
	color: #9b9b9b;
	display: inline-block;
	margin-right: 25px;
}

.nav-button {
	font-family: 'Roboto Mono', monospace;
	font-size: 16px;
	font-weight: 500;
	font-style: normal;
	padding: 10px 20px;
	border: 1.5px solid #9b9b9b;
	background-color: transparent;
	margin-right: 5vw;
	display: inline-block;
}

.illo-base {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
}

/* HERO SECTION */
#hero {
	background-color: var(--sky-blue);
	text-align: center;
}

.hero-illo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
	text-align: center;
	width: 100%;
	height: 1000px;
	background-image: url(./assets/illos/hero/base.svg);
}

#hero-text {
	margin-top: 100px;
}

/* ABOUT SECTION */
#forest-illo-base {
	background-image: url(./assets/illos/forest/base.svg);
	background-color: var(--dark-blue);
	position: absolute;
	width: 100%;
	height: 2700px;
	z-index: -50;
}

#forest-illo-base::after {
	content: '';
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0));
	/* background: rgba(0,0,0,0.1); */
	z-index: -49;
	position: absolute;
	top: 0;
	left: 0;
}

#cat-illo {
	width: 400px;
	height: auto;
	position: relative;
	top: 220px;
	right: 0vw; /* TODO: cat tail is getting cut off... */
}

#about {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: center;
	/* fixing jump to in-page anchor */
	padding-top: 436px;
	background-color: transparent;
}

#about-content {
	max-width: 50vw;
	text-align: left;
	margin-left: 12.5%;
}

#about-content > .section-title {
	margin-bottom: 21px;
}

#about-text {
	font-size: 1.33em;
	line-height: 1.33em;
	margin-bottom: 32px;
	max-width: 70%;
}

.button {
	font-weight: 600;
	color:var(--primary-dark);
	padding: .6em 1.5em;
	/* border: 1.5px solid #9b9b9b; */
	background-color: var(--inverted-color);
	 /* transparent; */
	font-size: 36px;
	line-height: 48px;
	letter-spacing: 1.8px;
	font-family: 'Source Serif Pro', serif;
	transition: transform 0.3s, color 0.3s;
	cursor: pointer;
}

.button:hover {
	transform: scale(1.05);
	color: var(--primary-color);
}

/* SCHEDULE SECTION */
#schedule {
	display: flex;
	flex-direction: row;
	background-color: transparent;
	height: auto;
	margin: 10px 0 -1px;
}

#schedule-content > .section-title {
	position: relative;
	left: -20%;
	margin-bottom: 1vw;
}

#schedule-illo {
	height: 200%; /* TODO: Investigate what's happening here, why doesn't 100% work? */
	width: 100%;
	position: absolute;
	z-index: -100;
	background-color: var(--dark-blue);
}

#mushrooms-illo {
	width: 45%;
	height: auto;
	background-position: 50% 60%;
	background-size: contain;
	background-image: url(./assets/illos/forest/shrooms.svg);
	position: relative;
	left: -20px;
}

#schedule-content {
	width: 32.5vw;
	margin-left: 90px;
	background-color: transparent;
}

.schedule-block {
	margin-bottom: 2em;
}

.schedule-item {
	display: flex; /* we shouldn't wrap, but just in case */
	font-size: 24px;
	line-height: 33px;
}

.schedule-times {
	display: inline-block;
	padding-right: 1em;
	min-width: 40%;
}

.schedule-event {
	display: inline-block;
}


/* SPONSOR SECTION */
#sponsors {
	text-align: center;
	/* fixing jump to in-page anchor */
	padding-top: 100px;
	background-color: var(--dark-blue);
}

#sponsors-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 2vw;
	align-self: center;
	justify-content: center;
}

#sponsors-title {
	font-size: 100px;
	line-height: 125px;
}

.sponsor-icon {
	margin-left: 1vw;
	margin-right: 1vw;
	margin-top: 3vw;
	width: 15vw;
	height: 9vw;
	background-color: #f5f5f5;
}

#sponsor-note {
	margin: 4.5vw auto 90px;
	text-align: center;
	font-weight: 600;
	line-height: 44px;
	font-family: 'Source Serif Pro', serif;
}



/* FAQS SECTION */
#faqs {
	display: flex;
	flex-direction: row;
	/* fixing jump to in-page anchor */
	/* margin-bottom: 15vw; */
	background-color: var(--faq-blue);
}

#faqs-content > .section-title {
	margin-bottom: 1.5vw;
}

#faqs-content {
	width: 37.5vw;
	margin-left: 12.5vw;
	font-size: 26px;
	line-height: 36px;
	padding-top: 350px;
	margin-bottom: 120px;
}

.faqs-illo {
	margin-left: 12.5vw;
	width: 25vw;
	height: auto;
	background-color: var(--faq-blue);
	z-index: 15;
}

.faqs-item {
	margin-bottom: 2.5vw;
}

/* FOOTER */
footer {
	display: flex;
	flex-direction: column;
	background-color: #f5f5f5;
	background-color: var(--grassy);
	color: var(--primary-dark);
	margin: auto;
}

#footer-illo-blue {
	background-color: var(--faq-blue);
	width: 100%;
	height: 700px;
	position: absolute;
	z-index: 10;
}

#footer-illo-castle {
	position: relative;
	z-index: 100;
	width: 80%;
	margin: auto;
}

#footer-illo-castle > img {
	width: 100%;
}

#footer-wrapper {
	width: 80%;
	margin: 80px auto;
}

#footer-content {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap-reverse;
	align-self: center;
	margin-bottom: 60px;
}

#footer-questions-section {
	flex: 1 1 auto;
	width: 423px;
}

#footer-question {
	font-size: 48px;
	line-height: 60px;
	margin-bottom: 15px;
}

#footer-reach-out {
	font-weight: 600;
	margin-bottom: 1em;
}

#footer-gt-student {
	margin-top: 1vw;
	flex: 1 1 40%;
	margin-bottom: 20px;
}

.footer-end {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 2vw;
	justify-content: space-between;
}

#footer-note {
	line-height: 44px;
	margin-bottom: 30px;
}

.footer-logo {
	height: 44px;
	position: relative;
	top: -10px;
}

.social-row > a > img {
	width: 48px;
	height: 48px;
	margin-right: 27px;
	fill: var(--primary-color)
}


/* MEDIA QUERIES */
@media only screen and (max-width: 1200px) {
	h1 {
		font-size: 12vw;
	}

	h2{
		font-size: 3em;
		line-height: 1.5em;
	}

	h5, p {
		font-size: 24px;
		line-height: 32px;
	}

	/* NAVIGATION */
	.nav-register-info {
		display: none;
	}

	/* HERO SECTION */
	.hero-illo {
		margin-top: 6.25vh;
	}

	/* ABOUT SECTION */
	#about-content {
		max-width: 75vw;
		margin-bottom: 29px;
	}

	.button {
		font-size: 2.1vw;
		padding: 1em 4em;
	}

	#cat-illo {
		display: none;
	}

	/* SCHEDULE SECTION */
	.schedule-illo {
		display: none;
	}

	#schedule-content {
		margin: auto;
		width: 80vw;
		/* margin-left: auto; */
		/* margin-right: 10vw; */
		/* width: 40vw; */
	}

	/* SPONSOR SECTION */
	.sponsors-container {
		max-width: 90vw;
	}

	#sponsors-title {
		font-size: 3em;
		line-height: 1em;
	}


	.sponsor-icon {
		width: 20vw;
		height: 12vw;
	}

	#sponsor-note {
		max-width: 75vw;
		font-size: 1em;
		line-height: 1em;
	}

	/* FAQS SECTION */
	#faqs-wrapper {
		display: flex;
		flex-direction: column;
	}

	#faqs-content {
		width: 80vw;
		padding-top: 3em;
		text-align: left;
		margin-bottom: 0px;
	}

	#faqs-content > .section-title {
		text-align: center;
	}

	#faqs-cards-top {
		max-height: 200px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		z-index: 20;
	}

	#diamond-mobile {
		height: 150px;
		transform: rotate(37deg);
		position: relative;
		top: -50px;
	}

	#queen-mobile {
		height: 250px;
		transform: rotate(-30deg);
	}

	#jester-mobile {
		height: 170px;
		transform: rotate(47deg);
	}

	#club-mobile {
		height: 300px;
		transform: rotate(-20deg);
	}

	#faqs-cards-bottom {
		max-height: 200px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		z-index: 20;
	}

	.faqs-illo {
		display: none;
	}

	.faqs-item {
		margin-bottom: 3vw;
	}

	/* FOOTER */
	footer {
		width: 100%;
	}

	#footer-illo-blue {
		height: 200px;
	}

	#footer-content {
		margin-bottom: 8px;
		width: 100%;
		text-align: center;
	}

	#footer-questions-section {
		width: 100%;
	}

	#footer-gt-student {
		margin-top: -2.5vw;
		width: 100%;
		order: 1;
	}

	.footer-question {
		margin-top: 15vw;
		margin-bottom: -3vw;
	}

	.footer-end {
		flex-direction: row-reverse;
		align-items: flex-end;
		justify-content: flex-end;
	}

	.footer-hr {
		display: none;
	}

	#footer-note {
		margin: 1.5vw auto 2.5vw;
		font-size: 1em;
	}

	#footer-logo-container {
		display: none;
	}

	.footer-logo {
		height: 1em;
	}
}

@media only screen and (max-width: 1024px) {
	/* NAVIGATION */
	#navbar {
		display: none;
	}
}

@media only screen and (max-width: 768px) {
	body {
		font-size: 16px;
		line-height: 22px;
	}

	h1 {
		font-size: 48px;
		line-height: 60px;
	}

	h2{
		font-size: 32px;
		line-height: 40px;
	}

	h3 {
		font-size: 24px;
		line-height: 30px;
	}

	h4, h5, p {
		font-size: 16px;
		line-height: 22px;
		/* font-size: 1em; */
	}

	.section-content {
		text-align: center;
	}

	/* HERO SECTION */
	#hero-text {
		margin-top: 216px;
	}

	/* ABOUT SECTION */
	#forest-illo-base {
		background-position: 10% 10%;
	}

	#about {
		padding-top: 140px;
	}

	#about-content {
		max-width: 80vw;
		text-align: center;
	}

	#about-text {
		margin: auto auto 29px;
		max-width: 90%;
	}

	.button {
		font-size: 24px;
		line-height: 33px;;
		margin: auto;
		/* border: 1px solid #9b9b9b; */
		padding: .6em 4em;
	}

	/* SCHEDULE SECTION */
	#schedule {
		padding-top: 0;
		display: flex;
		flex-wrap: wrap-reverse;
	}

	#mushrooms-illo {
		position: relative;
		left: 40%;
		top: -100px;
		width: 100%;
		height: 400px; /* TODO why is this gone */
	}

	#schedule-content {
		margin: auto;
		width: 80vw;
	}

	#schedule-content > .section-title {
		position: relative;
		left: 0;
	}

	.schedule-block {
		margin-bottom: 15vw;
		text-align: left;
	}

	/* SPONSOR SECTION */
	#sponsors {
		padding-top: 50px;
	}

	.sponsors-container {
		max-width: 90vw;
	}

	.sponsor-icon {
		margin-left: 2vw;
		margin-right: 2vw;
		margin-top: 6vw;
		width: 35vw;
		height: 21vw;
	}

	#sponsor-note {
		max-width: 75vw;
	}

	/* FAQS SECTION */
	#faqs {
		padding-top: 0;
		text-align: left;
	}

	.faqs-item {
		margin-bottom: 7vw;
	}

	.faqs-question {
		margin-bottom: 15px;
	}

	/* FOOTER */
	.footer-note {
		margin-left: 1.5vw;
		font-size: 3vw;
		margin-top: 1.5vw;
		margin-bottom: 2.5vw;
	}

	.footer-question {
		margin-bottom: -6vw;
	}

	.content-right {
		margin-top: -6vw;
	}

	.social-row {
		display: flex;
		justify-content: space-between;
	}
	.social-row > a > img {
		width: 24px;
		height: 24px;
		margin-right: 0;
		transition: transform 0.5s;
	}
}


/* Parallax effects */
.parallax {
	perspective: 1px;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

.parallax__layer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.parallax__layer--base {
	transform: translateZ(0);
}
.parallax__layer--back {
	transform: translateZ(-1px);
}